.navi {
  cursor: pointer;
  color: #bebfc5;
  font-family: "Fira Code", monospace;
  font-weight: medium;
  font-size: medium;
  text-transform: capitalize;
  position: relative;
  background: none;
  border: none;
  padding: 0;
  position: relative;
  display: inline-block;
}

.navi:hover {
  color: white;
}

.navi::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #ff4c60;
  transition: width 0.3s ease;
}

.navi:hover .navi::before {
  width: 100%;
}

.navi:hover::before {
  width: 100%;
}

@media screen and (max-width: 769px) {
  .navi {
    width: auto;
    display: inline-block;
    text-align: center;
    padding: 7px 0px;
  }
}
